.st-emotion-cache-ot9ait {
    visibility:hidden;
}
h2 {
    border-left-style: solid;
    border-left-color: gray;
    padding-left: 15px;
    border-bottom-style: solid;
    border-bottom-color: gray;
}
.stApp a:first-child {
    display: none;
}
table {
    margin-left: auto;
    margin-right: auto;
  }
  